:host {
  padding: 64px;
  display: flex;
  flex-direction: column;
}

.class-container{
  height: 26px;
  margin: 5px;
  display:flex;
}

.class-container img{
  background-color: #3e3e3e;
  border-radius: 13px;
  height:26px;
}

.class-container span{
  margin-left: 5px;
  line-height: 26px;
}

.list {
  table {
    width: 100%;
    border-radius: 20em;
  }

  .mat-column-members {
    width: 64px;
    text-align: center;
  }

  .mat-column-name {
    & > div {
      display: flex;
      align-items: center;
    }
  }

  .mat-column-admins {
    padding-top: 4px;
    padding-bottom: 4px;
    & > div {
      display: flex;
      align-items: center;
    }
  }

  .mat-cell{
    font-size: 16px;
  }

  .mat-header-row{
    background-color: #f0f0f0;
  }

}
