:host {
  padding: 64px;
  display: flex;
  flex-direction: column;
}

.class-container {
  min-height: 26px;
  margin: 5px;
  display: flex;
}

.class-container img {
  background-color: #3e3e3e;
  border-radius: 13px;
  height: 26px;
}

.class-container span {
  margin-left: 5px;
}

.list {
  table {
    width: 100%;
    border-radius: 20em;
  }
}

.mat-column-date {
  width: 24%;
}

.mat-column-win {
  width: 10%;

  & > span {
    align-items: center
  }
}

.mat-column-team {
  width: 22%;
}

.mat-column-enemyTeam {
  width: 22%;
}

.mat-column-rating {
  width: 10%;
}

.mat-column-enemyRating {
  width: 10%;
}

.mat-cell {
  font-size: 16px;
}

.mat-header-row {
  background-color: #f0f0f0;
}

.mat-row:hover {
  background-color: #f0f0f0;
}

.win {
  color: green;
  font-weight: 500;
}

.loss {
  color: red;
  font-weight: 500;
}
